{% if site.google_analytics_tracking_id %}
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '{{ site.google_analytics_tracking_id }}']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      // ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			// Change to new way of ga
			ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  {% if site.kumaya_network %}
  <script type="text/javascript">
    $('document').ready(
      function() {
        {% for item in site.kumaya_network %}
          document.getElementById("kn-{{ item.id }}").onclick = function() {
            _gaq.push(['_trackEvent', 'Kumaya Network', '{{ item.name }}', '{{ item.name }} has been clicked']);
            console.log("clicked");
          };
        {% endfor %}
      }
    );
  </script>
  {% endif %}
{% endif %}
